$font-family : 'Sora', sans-serif;
$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  
$desktop-min-width: 1023px; 
$desktop-large : 1920px;

$clr-tlt-section : #2B3956;
$clr-subTitle-gray: #808080;
$clr-subTitle-red : #EF4B4B;
$clr-border-btn : #F37C7C;
$clr-white: #FFFFFF;
$clr-select: #00000099;
$clr-search-wrap : #3C4F77;
$clr-order-banner : #CCCCCC;
$clr-desp-banner : #4D4C4C;
$clr-bg-icon-reason : #F7F7F7;
$clr-txt-whysell : #1A1A1A;